@model CategoryModel
@{
    Layout = "_Layout_admin";
}
<form asp-controller="admin" asp-action="categoryedit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group mt-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Url"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <hr />
    <a asp-controller="admin" asp-action="categorylist" class="btn btn-primary mt-5">View All Categories</a>
</form>