@model IEnumerable<IdentityRole>
@{
    Layout = "_Layout_admin";
}
@section Scripts{
    <script>$(document).ready(function () {
            $('#myTable').DataTable();
    });</script>
}


<table id="myTable" class="table table-bordered">
    <thead>
        <tr>
            <td>Role Name</td>
            <td>Role Id</td>
            <td style="width: 150px;"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.Id</td>
                    <td>
                        <a href="/admin/roleedit/@role.Id" class="btn btn-primary btn-sm mr-2">Edit</a>

                        <a class="btn btn-sm btn-danger" href="/admin/roledelete/@role.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <div class="alert alert-warning">
                <h3>No Roles</h3>
            </div>
        }

    </tbody>
</table>
<a class="btn btn-sm btn-primary" href="/admin/rolecreate">Create New Role</a>


@*<table class="table">
        <thead>
            <tr>
                <th scope="col">Role Name</th>
                <th scope="col">Role Id</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <th scope="row">@role.Id</th>
                    <td>
                        <a class="btn btn-sm btn-success" href="/admin/roleedit/@role.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" href="/admin/roledelete/@role.Id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>*@
